<nav class="navbar navbar-dark bg-secondary navbar-expandida">
    <div class="container">
        <a href="/" class="navbar-brand">Nat.code</a>
        <button class="navbar-toggler" id="navbarToggle">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-colapso colapso" id="navbarNav">
            <ul class="navbar-nav">
                <li>
                    <a class="nav-link" href="/admin/categories">Categorias</a>
                </li>
                <li>
                    <a class="nav-link" href="/admin/articles">Artigos</a>
                </li>
            </ul>
        </div>
    </div>
</nav>